    Hey <%= @lead.name %>, <br/> <br/>

    Thanks for checking out Stump the Street! <br/> <br/>

    We’re hacking away here in Boston… working hard to complete our dream of revolutionizing your investing experience! <br/> <br/>

    In the meantime, we need your help. Please fill out the <a href="https://www.surveymonkey.com/r/XLGR89F">quick survey</a> for a chance at <u>free plays and other prizes!</u> <br/> <br/>

    A big thank you from the Stump the Street team! <br/><br/>
  