    <%= @lead.name %>,<br/><br/>

    Prepare for battle.<br/><br/>

    The Stump the Street team is currently sharpening their blades and readying the cannons in anticipation of a truly unique investing experience.<br/><br/>

    As we finalize our plans, we ask for your input. Please fill out this <a href="https://www.surveymonkey.com/r/7KP3FWT">brief survey</a> for a chance at <u>free plays and other prizes.</u><br/><br/>

    Best of luck!<br/><br/>
