    Hi <%= @lead.name %>,<br/><br/>

    Welcome to Stump the Street!<br/><br/>

    We believe that our competition-style, stock trading experience can revolutionize the investment world. We appreciate your interest in helping to bring this vision to reality.<br/><br/>

    Please support our mission by completing this <a href="https://www.surveymonkey.com/r/XD6SKZ6">brief survey</a> and enter a chance to <u>win free plays and other prizes!</u><br/><br/>

    Happy trading,<br/><br/>
    Stump the Street<br/><br/>
