/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 *= require react-table
 *= require materialize
 *= require material_icons
 *= require_tree .
 *= require_self
 */


 @import "materialize";
 @import url('https://fonts.googleapis.com/css?family=Exo+2|Raleway');

 $primary-color: color("materialize-red", "lighten-2") !default;

 html{
   font-family: "Exo 2"
 }

 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background: repeating-linear-gradient(
  45deg,
  #ffeeff,
  #ffffff 5px,
  #fafafa 5px,
  #fcfcfc 10px
  );
 }

 main {
   flex: 1 0 auto;
 }

 .trans {
   position: absolute;
 }

 .img-block{
   display: inline-block;
   position: relative;
   margin: 0% 1%
 }

 .description {
  position: absolute;
  top: -30px;
  left: -30px;
  max-width: 150px;
  z-index: 1;
  background-color:rgba(255, 255, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
  padding: 0% 1%;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

 }

 .home-image {
   display: inline-block;
   border-radius: 50%;
  //  background-color: #132731;
   margin: 0% 1%;
 }

 .img-form {
   display: inline-block;
 }

 .comp-data{
   padding: 1% 0%;
 }

 .text-pos{
   padding-left: 2%;
 }

 .comp-box{
   position:relative;
 }

 .img-comp{
   position: absolute;
   top: -70px;
   right: 0px;
 }

 .data-box{
   border-style: auto;
   border-width: 1px;
   border-color: #E5E5E5;
   position: relative;
 }

 .data-container{
   display: inline-block;
   padding: 0% 5%;
 }

 .data-table-label{
   font-size: 75%;
   font-weight: lighter;
 }

 .no-sec{
   display: inline-block;
   position: relative;
   left: 10px;
 }

 .trade-container {
    width: 400px;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E5E5;
    position: relative;
    overflow: visible;
}

.modal-more {
  position: absolute;
  top: -20px;
  right: -20px;
}

.upper {
  background-color: #F7F7F7;
}

.middle {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 1px #E7E7E7;
}

.lower {
  position:relative;
  z-index:-1;
  background-color: #FEFEFE;
}

.trade-input-ticker {
  width: 75px;
  display: inline-block;
  position:relative;
  left: 20px;
  bottom: 5px;
}

.show-data{
  width: 125px;
  display: inline-block;
  position: relative;
  left:25px;
}

.price-data {
  font-size: 125%;
  display: inline-block;
  position:relative;
  left:10px;
}

.value-data {
  max-width: 150px;
  font-size: 125%;
  display: inline-block;
  position:relative;
  left:7px;
}

.ticker-data {
  font-size: 125%;
  display: inline-block;
  position:relative;
  left:5px;
}

.name-data{
  max-width: 250px;
  width: 250px;
  font-size: 150%;
  display: inline-block;
  position:relative;
  left: 5px;
}

img.competitors{
  padding: 1%
}

.comp-text:first-letter{
  text-transform: capitalize;
}

.text-days{
  font-size: 80%
}

.gain-value {
  font-size: 100%
}

.v-green {
  color: green
}

.v-red {
  color: red
}

.comp-button{
  padding: 1%
}

.img-selected{
  border: 10px solid red;
  border-radius: 4px;
}
 .form-div {
   padding: 1% 10%
 }

.buy {
  background-color: green;
}

.buy:hover{
  background: #1b5e20
}

.sell{
  background-color: red;
}
.sell:hover{
  background-color: #b71c1c
}

.btn-small{
  color: white;
  height: 20px;
  line-height: 24px;
  margin-top: 10%;
  padding: 0 0.5rem;
}
