/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require react-table
 *= require materialize
 *= require material_icons
 *= require_tree .
 *= require_self
 */


 @import "materialize";


 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

//
img.competitors{
  padding: 1%
}

.comp-text:first-letter{
  text-transform: capitalize;
}

.text-days{
  font-size: 80%
}

.gain-value {
  font-size: 100%
}

.v-green {
  color: green
}

.v-red {
  color: red
}

.comp-button{
  padding: 1%
}

.img-selected{
  border: 10px solid red;
  border-radius: 4px;
}
 .form-div {
   padding: 1% 10%
 }

.buy {
  background-color: green;
}
.buy:hover{
  background: blue
}
.sell{
  background-color: red;
}
.btn-small{
  color: white;
  height: 20px;
  line-height: 24px;
  margin-top: 10%;
  padding: 0 0.5rem;
}
